<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/2c391203-7b2c-4caf-8d74-6c0b8a9e93bf/resourcegroups/ResourceGroup1/providers/Microsoft.Web/sites/WordleHelperApi20220527105945</ResourceId>
    <ResourceGroup>ResourceGroup1</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://wordlehelperapi20220527105945.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>f9f6d44f-a374-4b8d-a550-d20797862c20</ProjectGuid>
    <PublishUrl>https://wordlehelperapi20220527105945.scm.azurewebsites.net/</PublishUrl>
    <UserName>$WordleHelperApi20220527105945</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>